
DATABASE_URL = postgresql://admin:admin@localhost:5433/bookstore_api
JWT_SECRET = XXX-XXX-XXX-XXX-XXXX
NODE_ENV = local
PORT = 3000
REDIS_URL=http://localhost:6379
MAILDEV_HOST=localhost
MAILDEV_PORT=1025